rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, update, delete: if isSignedIn() && request.auth.uid == userId;
      
      allow create: if isSignedIn() && request.auth.uid == userId && 
        (
          (incoming().role == 'user' && incoming().status == 'pending') ||
          (incoming().email == 'analista.ericksilva@gmail.com' && incoming().role == 'admin' && incoming().status == 'approved')
        ) &&
        incoming().email == request.auth.token.email;
      
      function isSignedIn() {
        return request.auth != null;
      }
    }
  }
}